@import "tailwindcss";

@font-face {
  font-family: "Kinetika";
  src: url("/fonts/Kinetika-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kinetika";
  src: url("/fonts/Kinetika-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlbertusNova";
  src: url("/fonts/AlbertusNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-kinetika: "Kinetika", sans-serif;
  --font-albertus: "AlbertusNova", serif;
}

@theme inline {
  --color-dark-black: #090806;
  --color-dark: #1E1E1E;
  --color-white: #FFFFFF;
  --color-accent: #8D7E65;
  --color-gray: #81807D;
  --color-beige: #FAF7F2;
  --color-devider: #494949;
}

@utility shadow-avatar-accent {
  box-shadow:
    0 1px 2px color-mix(in srgb, var(--color-accent) 15%, transparent),
    0 3px 3px color-mix(in srgb, var(--color-accent) 15%, transparent);
}

html,
body {
  font-family: var(--font-kinetika);
  background: var(--color-dark);
  color: var(--color-white);
  overflow-x: clip;
}

.font-albertus {
  font-family: var(--font-albertus);
}

.burger-menu {
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 0;
  vertical-align: middle;
  z-index: 1110;
}

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after {
  position: absolute;
  left: calc(50% - 13px);
  top: calc(50% - 1px);
  height: 2px;
  width: 26px;
  background: var(--color-white);
  transform-origin: 50% 50%;
  transition:
    background-color 0.2s ease-in-out,
    top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  content: "";
}

.burger-menu span::before {
  top: 7px;
}

.burger-menu span::after {
  top: -7px;
}

.burger-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}

.burger-menu.active span::before,
.burger-menu.active span::after {
  transition:
    top 0.2s ease-out,
    transform 0.2s 0.2s ease-out;
}

.burger-menu.active span::before {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu.active span::after {
  top: 0;
  transform: rotate(45deg);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
